/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
/*styling header*/

nav {
  display: flex;
  justify-content: space-evenly;
  width: 900px;
  align-items: center;
}

nav a {
  text-decoration: none;
  margin-left: 6%;
  display: inline-block;
  color: darkgray;
  padding-top: 10%;
  padding-bottom: 5%;
}

body{
    
}

.conteiner {
  width: 900px;
  margin: 0px auto;
  
 
}

nav {
  display: flex;
  flex-direction: row;
}

.linkss {
  width: 800px;
 
}

h1 {
  font-size: 5rem;
}

.main-title {
  width: 379px;
  margin: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle-pic {
  margin: 25px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top {
  
  display: flex;
}
 
  /*text-align: left;*/
 

.middle-img {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  margin-top: 2%;
}

.bottom {
  text-align: center;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-top: 10px;
}

.services {
  width: 25%;
  display: inline-block;
}

.product {
  width: 25%;
  display: inline-block;
}

.vision {
  width: 25%;
  display: inline-block;
}

.contact {
  margin-left: 2%;
  padding-bottom: 10%;
}

.contact-address {
  padding-bottom: 2%;
}

footer {
  text-align: center;
}




hr{
    display:none;
    border-style: solid black;  
   /* 1px solid black;  */
}

/* ------ Starts here Media Queries-----*/

/*---ipad---*/

@media (max-width: 800px) {
  body {
    width: 780px;
    margin: 0 auto;
  }

  .circle-pic {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    width: 100%;
    
  }

  .linkss {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .main-title {
    display: flex;
    align-content: center;
    width: 100%;
  }


.bottom{
    
    width: 100%;

}

.conteiner{
    width: 600px;
  
    margin: 0 5%;
}

.middle-img{
  width: 100%;
}


.top{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

hr{
    display:none;
}




}

/*---mobile---*/

@media (max-width: 500px) {

    body{
    width:100%;
  
    }

nav {
    width: 100%;
    
    display: flex;
     
}


.linkss a{
    height:1px;
    /* margin: 1px 0 1px 0; */
    padding:15px 0 ;
    display:flex;
    align-items: center;
}


.linkss{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
    
}

.conteiner{
    width:450px;
}


.top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    

}

.features{
    margin:5% 0;

}


.about{
 margin-bottom:5%;

}
 
.bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    /* background-color: mediumvioletred; */
    /* flex-wrap: wrap; */

    
} 

.services{
     width: 100%;
     margin-bottom:5%;   
} 

.product{
    width: 100%;
    margin-bottom:5%; 
}

.vision{
    width: 100%;
    margin-bottom:5%; 
}

hr{
    display:flex;
    border-style: solid black; 
    height: 1px;
    width: 100%;
    background-color: black;
}

.intro button{
    width: 35%;
    height: 25px;
}


}
